<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>
<body>
This is second page, dear <%= session.textuser.password %>
<a href="/homepage">Back to HomePage</a>
</body>
</html>