<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<p>Welcome <%= session.textuser.password %></p>

<a href="childpage">Go To Child Page</a>
</body>
</html>